<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
<add name="ModelNyilv" connectionString="data source=TG-LAPTOP;initial catalog=Nyilv;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>